.box {
  border-radius: 8px;
  width: 80px;
  height: 80px;
  background: var(--component-back);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;

  /* position: absolute; */
}
#drawer .box {
  max-width: 80px;
  max-height: 80px;
}
.box.big {
  /* width: 60px; */
  width: 160px;
  height: 300px;
}
#drawer .big {
  max-width: 60px;
}
/* ...... */
.box.latch {
  width: 180px;
  height: 120px;
}
#drawer .latch {
  width: 80px;
  height: 80px;
}
.box.long {
  width: 600px;
}
#drawer .long {
  width: 80px;
  height: 80px;
}
.box.big_sqare {
  width: 400px;
  height: 400px;
}
#drawer .big_sqare {
  width: 80px;
  height: 80px;
}
.box.chip {
  width: 200px;
  height: 200px;
  background: #5e5e5e;
  border-radius: 3px;
  background-image: url(../img/chip.png);
}
#drawer .chip {
  width: 80px;
  height: 80px;
}
.box.chip_bigger {
  width: 280px;
  height: 280px;
}

#drawer input, #drawer .pointer-event {
  pointer-events: none;
}

.component {
  position: absolute;
}


.selected:not(.lineSVG) {
  /* box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.6); */
  box-shadow: 0px 0px 4px 2px var(--selection);
}

.lineSVG.selected {
  filter: drop-shadow(0px 0px 3px var(--selection));
}

.ghostElem div, .ghostElem input {
  cursor: default !important;
}




.connection {
  position: absolute;
  background: orange;
}

.connection.right {
  height: 2px;
  width: 10px;
  right: 0;
  top: 50%;
  /* transform: translate(98%, 50%); */
  transform: translate(98%);
}
.connection.left {
  height: 2px;
  width: 10px;
  left: 0;
  top: 50%;
  /* transform: translate(98%, 50%); */
  transform: translate(-98%);
}
.connection.top {
  height: 10px;
  width: 2px;
  left: 50%;
  top: 0;
  /* transform: translate(98%, 50%); */
  transform: translateY(-98%);
}
.connection.bottom {
  height: 10px;
  width: 2px;
  left: 50%;
  bottom: 0;
  /* transform: translate(98%, 50%); */
  transform: translateY(98%);
}


.connector {
  border-radius: 50%;
  border: 2px solid orange;
  position: absolute;
  background: white;
  /* cursor: pointer; */
  height: 12px;
  width: 12px;
  transition: 0.1s;
}

.connection.right .connector {
  right: 0;
  top: 50%;
  transform: translate(98%, -50%);
}
.connection.left .connector {
  left: 0;
  top: 50%;
  transform: translate(-98%, -50%);
}
.connection.top .connector {
  right: 50%;
  top: 0;
  transform: translate(50%, -98%);
}
.connection.bottom .connector {
  right: 50%;
  bottom: 0;
  transform: translate(50%, 98%);
}


.connector.notConnected {
  background: red;
}
.connector.hover {
  background: #ff651b;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.conn_label {
  /* font-size: 20px; */
  color: white;
  font-weight: bold;
  width: fit-content;
  position: absolute;
  pointer-events: none;
  white-space: nowrap;
}


.line {
  stroke: var(--line-idle);
  /* stroke-width: 2; */
  stroke-width: 4;

  /* stroke-dasharray: 10; */

  /* z-index: 99; */
  /* position: absolute; */

  pointer-events: visible;
  fill: none; /* transparent */
}
.line.powered {
  stroke: var(--line-powered);
  /* stroke-dasharray: none; */
}

.line.border {
  stroke-width: 5;
  stroke: black;
}

svg {
  position: absolute;
  /* position: absolute;
  z-index: 1000;
  height: 200px;
  width: 200px; */
  /* display: block; */
}


/*******/

.label {
  /* z-index: 2; */
  position: relative;
  text-align: center;
  /* bottom: -10%; */
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* position: absolute;
  top: 105%;
  transform: translateX(-50%); */

  width: fit-content;
  padding: 2px 8px;
  border-radius: 2px;

  font-size: 16px;
  text-transform: uppercase;
  color: var(--main-color-inverted);
  background: var(--transparent--20);
  /* font-weight: bold; */

  cursor: default;
  /* TODO: no text selection.... */
  white-space: nowrap;
}
.label.small { /* drawer label */
  font-size: 10px;
  padding: 0;
  background: none;
  /* width: 128%; */
}



.toggle {
  border-radius: 4px;
  width: 80%;
  height: 80%;
  background: var(--component-action);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.34);
}
.main .toggle {
  cursor: pointer;
}
.main .toggle:hover {
  background: var(--component-action--hover);
}
.main .toggle:active {
  content: "light";
  cursor: default;
  background: var(--component-action);
  box-shadow: inset 4px 1px 6px 1px rgba(0, 0, 0, 0.34);
}

.btn-light {
  border-radius: 2px;
  width: 12px;
  height: 3px;
  background: var(--light-idle);
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .2s background, .2s box-shadow;
}
.main .btn-light {
  cursor: pointer;
}
.btn-light.on {
  background: var(--light-active);
  box-shadow: 0 0 14px 7px var(--light-active--shadow);
  /* background: #3d82cb;
  box-shadow: 0 0 14px 7px rgba(61, 130, 203, 0.5); */
}




.button {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background: var(--component-action);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.34);
}
.main .button {
  cursor: pointer;
}
.main .button:hover {
  background: var(--component-action--hover);
}
.main .button:active {
  cursor: default;
  background: var(--component-action);
  box-shadow: inset 4px 1px 6px 1px rgba(0, 0, 0, 0.34);
}




@font-face {
 font-family:'digital-clock';
 src: url('/assets/fonts/digital.ttf');
}

.clock {
  border-radius: 20%;
  width: 80%;
  height: 80%;
  background: var(--component-action);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock .display input {
  background: green;
  outline-color: #00a3ff;
  width: 80%;
  height: 25%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 1px 4px 1px rgba(0, 0, 0, 0.34);
  border-radius: 2px;
  border: none;
  border: 1px solid black;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'digital-clock';
  /* color: white; */
}
#drawer input {
  cursor: default;
}


.signal-light {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background: var(--light-idle);
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: .1s background, .1s box-shadow;
}
/* .main .signal-light {
  cursor: pointer;
} */
.signal-light.on {
  background: var(--light-active);
  box-shadow: 0 0 14px 7px var(--light-active--shadow);
  /* background: #3d82cb;
  box-shadow: 0 0 14px 7px rgba(61, 130, 203, 0.5); */
}




.constant {
  border-radius: 10%;
  width: 80%;
  height: 80%;
  background: var(--component-action);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.constant span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white
}




.box.round {
  border-radius: 50%;
}
.light {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  background: var(--light-active);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  box-shadow: 0px 0px 20px 6px var(--light-active--shadow);
  transition: .1s background, .1s box-shadow;
}

.main .light.off {
  /* background: #acd2ed; */
  background: var(--light-off);
  box-shadow: none;
}
/* .light {
  width: 80px;
  height: 80px;
  background: var(--component-back);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;

  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
/* .light */





.seven_segment {
  border-radius: 10%;
  width: 80%;
  height: 80%;
  background: var(--component-action);
  background: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seven_segment div {
  border-radius: 12%;
  background: var(--light-idle);
  position: absolute;
  transform: translate(-50%, -50%);
  transition: .3s background, .3s box-shadow;
}
.seven_segment #number_1 { /* top */
  width: 80%;
  height: 14%;
  top: 8%;
  left: 50%;
}
.seven_segment #number_2 { /* top right */
  width: 16%;
  height: 45%;
  top: 25%;
  left: 90%;
}
.seven_segment #number_3 { /* bottom right */
  width: 16%;
  height: 45%;
  top: 75%;
  left: 90%;
}
.seven_segment #number_4 { /* bottom */
  width: 80%;
  height: 14%;
  top: 92%;
  left: 50%;
}
.seven_segment #number_5 { /* bottom left */
  width: 16%;
  height: 45%;
  top: 75%;
  left: 10%;
}
.seven_segment #number_6 { /* top left */
  width: 16%;
  height: 45%;
  top: 25%;
  left: 10%;
}
.seven_segment #number_7 { /* middle */
  width: 80%;
  height: 14%;
  top: 50%;
  left: 50%;
}





.circuit .circuit__connectors--left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}




.gate_input {
  background: #361fb8; /* #d51d1d */
  color: white;
  outline-color: #00a3ff;
  width: 40%;
  /* height: 25%; */
  height: 16px;
  /* top: 50%;
  left: 50%;
  position: absolute; */
  margin-top: 50%;
  margin-left: 48%;
  transform: translate(-50%, -50%);
  box-shadow: inset 2px 1px 4px 1px rgba(0, 0, 0, 0.34);
  border-radius: 2px;
  border: none;
  border: 1px solid black;

  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'digital-clock';
  /* color: white; */
}

/* Chrome, Safari, Edge, Opera */
.textInput::-webkit-outer-spin-button,
.textInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.textInput[type=number] {
  -moz-appearance: textfield;
}



.andc {
  border-radius: 8px 50px 50px 8px;
}
.orc { /* moon shape css */
  /* border-width: 30px;
  border-color: red red red transparent;
  border-style: solid; */
  border-radius: 8px 60px 30px 8px;
}
/* .xorc {

} */



/* transistor */
.transistor, .transistor_inv {
  border-radius: 10%;
  width: 80%;
  height: 80%;
  background: var(--component-action);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18px;
  height: 3px;
  background: var(--light-idle);
}
.arrow span:nth-child(1) {
  width: 22px;
  /* width: 26px; */
}
.arrow span:nth-child(2) {
  transform: rotate(45deg) translate(-8px, -2px);
}
.arrow span:nth-child(3) {
  transform: rotate(-45deg) translate(-5.7px, 0px);
}
.arrow span:nth-child(4) {
  transform: rotate(90deg) translate(-1.5px, 26px);
}



/* pixel */
.pixel {
  width: calc(80% - 20%);
  display: flex;
  /* margin: 10%; */

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* padding: 10%; */
  padding: 40% 10%;
  border-radius: 10%;
  background: black;
  transition: .2s background, .2s box-shadow;
}
/* .pixel .off {
  background: var(--light-idle) !important;
  box-shadow: none !important;
} */
/* .pixel #red {
  background: red;
  box-shadow: 0 0 3px red;
}
.pixel #red.off {
  background: rgba(252, 0, 0, 0.4);
  box-shadow: none;
}
.pixel #green {
  background: #1cb600;
  box-shadow: 0 0 3px #1cb600;
}
.pixel #green.off {
  background: rgba(28, 182, 0, 0.4);
  box-shadow: none;
}
.pixel #blue {
  background: #3036e1;
  box-shadow: 0 0 3px #3036e1;
}
.pixel #blue.off {
  background: rgba(48, 54, 224, 0.4);
  box-shadow: none;
} */





.speaker {
  height: calc(100% - 20%);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 40% 10%; */
}
.speakerBigger {
  width: 150px;
  height: 150px;
}

.speaker div {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.speaker input { /* TODO: not interacion in drawer!!! remove inputs from javascript (has pointer-events: none; in css!! */
  /* user-select: none; */
  pointer-events: none;
  display: inline;
  width: 30%;

  margin: 0 4px;

  background: #008074;
  /* outline-color: #00a3ff; */
  height: 25%;
  /* top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); */
  box-shadow: inset 2px 1px 4px 1px rgba(0, 0, 0, 0.34);
  border-radius: 2px;
  border: none;
  border: 1px solid black;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'digital-clock';
  /* color: white; */
}

.speaker .material-icons {
  background: rgb(88, 88, 88);
  border-radius: 2px;
  font-size: 12px;
  color: white;
  /* padding: 4px; */
  padding: 5%;
  cursor: pointer;
}
.speaker .material-icons:hover {
  background: rgb(100, 100, 100);
}



.screen {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 4px;
  height: calc(100% - 8px);
  margin: 4px;
  grid-gap: 2%;
  height: calc(100% - 4%);
  margin: 2%;
}
.screenDiv {
  height: 200px;
  width: 200px;
}
.screen span {
  background: black;
  border-radius: 6px;
  transition: .2s background, .2s box-shadow;
  /* margin: 2px; */
}