:root {
  --main-color: white;
  --main-color--second: white;
  --main-color-inverted: #1f1f1f;
  --main-background: #e0e0e0;
  --transparent--10: rgba(0, 0, 0, 0.1);
  --transparent--20: rgba(0, 0, 0, 0.2);
  --transparent--50: rgba(0, 0, 0, 0.5);
  --transparent-blue--10: rgba(63, 126, 180, 0.1);
  --transparent-blue--20: rgba(63, 126, 180, 0.2);
  --transparent-blue--50: rgba(63, 126, 180, 0.5);

  --component-back: orange; /* yellow */
  --component-action: red;
  --component-action--hover: #ff3939;
  --light-idle: rgba(214, 214, 214, 0.7);
  --light-off: #e1e1e1;
  --light-active: #f7f484; /* #dcf651 */
  --light-active--shadow: rgba(254, 255, 0, 0.82);
  --light-active-inverted: #84dff7;
  --light-active-inverted--shadow: rgba(0, 211, 255, 0.82);
  /* --light-active--shadow: #ffed00; */
  /* --selection: rgba(51, 0, 255, 0.6); */
  --selection: rgba(0, 0, 255, 0.5);
  /* --selection: rgba(0, 0, 0, 0.5); */
  --selection: #c83f06;
  --color-matched: #ff651b;

  --line-idle: #b00000;
  --line-powered: red;

  --toolbar-iconcolor: #2c8dbc;
}

* {
  margin: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
  /* TODO: uncomment: */
  overflow: hidden;
  /* TODO: uncomment: */
  /* background: var(--main-background); */
  color: var(--main-color-inverted);
}

.hidden {
  display: none;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.cursordrag {
  cursor: move;
}


/* top */

#top {
  z-index: 9999910;
  width: 100%;
  height: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: var(--main-color);

  position: absolute;
}


#main_title {
  width: 250px;
  text-align: center;
  height: 40px;
  font-weight: bold;
  position:relative;
}
#main_title a {
  text-decoration: none;
  color: var(--toolbar-iconcolor);
  font-family: 'Architects Daughter';
  font-size: 25px;
  width: 250px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}


#top #toolbar {
  position:absolute;
  top: 0;
  left: 250px;
  /* padding-left: 250px; */
  /* margin-left: 250px; */
  height: 40px;
  /* background: red; */

  width: calc(100vw - 250px);
  overflow: hidden;
  /* transform: translateX(-250px); */
  /* width: 90vw; */
  /* width: -webkit-fill-available; */
}
i {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 2px;
  /* padding: 6px 10px 10px 6px; */
  padding: 6.3px 9.9px 9.7px 6.1px;
  color: var(--toolbar-iconcolor);

  /* display: flex; */
  /* align-items: center; */
  /* vertical-align: middle; */
  vertical-align: top;

  transition: opacity .2s;
}
i:hover:not([disabled]) {
  cursor: pointer;
  background: var(--transparent-blue--10);
}
i:active:not([disabled]) {
  cursor: default;
  background: var(--transparent-blue--20);
}
i[disabled] {
  opacity: 0.5;
}
i.active {
  background: var(--transparent-blue--20) !important;
}

#toolbar .seperator {
  /* position: absolute; */
  /* width: 1.2px; */
  width: 1.4px;
  height: 60%;
  /* height: 70%;
  width: 2px; */
  background: var(--toolbar-iconcolor);
  opacity: 0.8;
  display: inline-block;
  margin: 8px 5px;
}

#toolbar .right {
  right: 10px;
  position: absolute;
  /* margin-right: -90px; */
  /* display: flex;
  margin-left: auto!important; */
}


/* tabber */
#tabber {
  position:absolute;
  top: 40px;
  left: 255px;
  height: auto;
  width: calc(100vw - 250px); /* - 22px */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: var(--main-color);
  z-index: 9999908;
  display: flex;
  height: 32px;
}

#tabber span {
  margin-right: 6px;
  white-space: nowrap;
}
#tabber span.unsaved::after {
  content: '*';
}
#tabber #close i {
  font-size: 12px;
  height: 10px;
  width: 10px;
  padding: 3px 5px 4.6px 2.5px;
}

#tabber .tab {
  margin: 0 2px;
  position: relative;
  padding: 4px 20px;
  align-self: center;
  /* max-width: 200px; */
  border-bottom: 2px solid var(--toolbar-iconcolor);
  cursor: pointer;
  height: 70%;

  transition: left .2s;
}
#tabber .tab.active {
  background: var(--transparent-blue--20) !important;
  cursor: default;
}
#tabber .tab:hover {
  background: var(--transparent-blue--10);
}
#tabber .tab:active {
  background: var(--transparent-blue--20);
}

#tabber .right {
  position: absolute;
  right: 10px;
  font-size: 18px;
  height: 16px;
  width: 16px;
  align-self: center;
  padding: 3.3px 5px 4.5px 2.5px;
}

/* scrollbar */
.scroller::-webkit-scrollbar {
  /* width: 5px; */
  height: 4px;
}
.scroller::-webkit-scrollbar-track {
  background: var(--transparent-blue--20);
}
.scroller::-webkit-scrollbar-thumb {
  background: rgba(63, 126, 180, 0.5);
}
.scroller::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 126, 180, 0.4);
}

/* ::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--transparent-blue--20);
}
::-webkit-scrollbar-thumb {
  background: rgba(63, 126, 180, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 126, 180, 0.4);
} */

/* drawer */

#drawer {
  z-index: 9999909;
  width: 250px;
  height: calc(100vh - 40px);
  overflow-y: auto;
  /* background: red; */
  background: var(--main-color);
  box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.15);

  position: absolute;
  top: 40px;
}

#dragger {
  position: absolute;
  top: 40px;
  left: 250px;
  height: 100%;
  width: 5px;
  background: var(--toolbar-iconcolor);
  /* background: #c4c4c4; */
  /* cursor: col-resize; */
  cursor: e-resize;
  z-index: 9999909;
  /* box-shadow: 2px 2px 3px 0px rgba(0, 36, 81, 0.25); */
}

.section {
  text-align: center;
  padding: 6px;
  background: var(--transparent--10);
  text-transform: uppercase;
  cursor: pointer;

  transition: opacity .2s;
}
.section:not(:first-child) {
  margin-top: 12px;
}

.grid {
  /* grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  grid-column-gap: 10px;
  grid-row-gap: 15px; */
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196F3; */
  padding: 12px;

  justify-items: center;
  grid-gap: 25px 0;

  transition: grid-gap .2s, opacity .2s;
  max-height: 999999px;
}


/* main */

.main {
  position: absolute;
  /* left: 250px;
  top: 40px; */
  background: var(--main-background);
  /* background: #eee; */
  /* transform: translate(-50%, -50%); */
  height: calc(100vh - 40px - 32px);
  width: calc(100vw - 250px);

  height: 10000px;
  width: 10000px;

  background-size: 20px 20px;
  background-image: radial-gradient(circle, var(--transparent--20) 1px, rgba(0, 0, 0, 0) 1px);
  /* background-image:
    linear-gradient(to right, var(--transparent--10) 1px, transparent 1px),
    linear-gradient(to bottom, var(--transparent--10) 1px, transparent 1px); */

  /* z-index: -1; */

  margin-left: 250px;
  margin-top: calc(40px + 32px);
  /* --zoom-level: 0.625; */
  /* height: calc(100% / var(--zoom-level)); */
  zoom: 100%;
}


/* minimap */
.map_overlay
{
    /* background: url(http://source.visualpulse.net/images/12_qkg0xbzw6xyma4vs5bm6roj2puo19cafa3dxqqmc.png); */
    background: white;
    background-size: 100%;
    background-repeat: no-repeat;

    border: 2px solid rgba(0, 0, 0, 0.8);

    /* position: absolute;
    left: 0;
    bottom: 0; */
    /* pointer-events: none; */
    opacity: 0.4;

    position: fixed;
    bottom: 2px; /* border width */
    left: 255px; /* drawer + dragger width */
    width: 200px;
    height: 200px;
    z-index: 9999908;
}

.map_outline
{
    position: absolute;
    border: 2px solid #dd0000;
}




.lineSVG {
  /* height: -webkit-fill-available;
  width: -webkit-fill-available; */
  overflow: visible;
  pointer-events: none;
}



.selectionBox {
  position: absolute;
  /* top: 0px;
  left: 0px;
  width: 0px;
  height: 0px; */
  background: rgba(16, 109, 252, 0.3);
  border: 1px solid rgba(16, 109, 252, 0.8);
  transition: opacity 0.15s;
  /* border-radius: 2px; */
}



/*** bottom ***/
#bottomActions {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* transform: translate(-50%, -50%); */
  height: 40px;
  width: auto;
  background: var(--main-color);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  /* padding: 40px; */
  z-index: 9999907;
}

#zoomValue {
  display: inline-block;
  color: var(--toolbar-iconcolor);
  padding: 9px 14px 9px 0;
}


input[type="range"] {
  -webkit-appearance: none;
  /* width: 100%; */
  transform: translateY(-64%);
  height: 5px;
  border-radius: 5px;
  background: var(--toolbar-iconcolor);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor: pointer;
}

input[type="range"]:hover {
  opacity: 1;
}
input[type="range"]:active {
  cursor: default;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #25779f;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--toolbar-iconcolor);
}





/* right menu */
.right_menu {
  position: absolute;
  right: 0;
  top: calc(40px + 32px);
  width: 300px;
  height: calc(100vh - 40px - 32px - 60px);
  background: white;
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.2);
  z-index: 9999907;
  padding: 30px 0;
  overflow-y: auto;
}

.clockSection {
  margin: 5px 0;
  padding: 0 30px 30px 30px;
  background: rgba(0, 0, 0, 0.1);
}
.clockSection h1 {
  padding: 10px 0;
}

.clockSection input {
  width: calc(100% - 20px);
  border: none;
  padding: 6px 10px;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  height: 12px;
  background: white;
}
.progress .fill {
  background: var(--toolbar-iconcolor);
  height: 12px;
}




/*** dark ***/
#dark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999930;
}


/*** settings ***/
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40vh;
  width: 40vw;
  background: var(--main-color);
  border-radius: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  padding: 40px;
  z-index: 9999950;
}
/* .card h1 {
  text-transform: uppercase;
} */

#close {
  position: absolute;
  top: 4px;
  right: 4px;
}


.multiselect {
  /* padding: 8px 0; */
  border: 1.4px solid gray;
  border-left: 0;
  border-right: 0;
  border-radius: 10px;
  width: fit-content;
  display: inline-flex;
}

.multiselect div {
  padding: 8px;
  /* display: inline; */
  display: table-cell;
  /* border-top: 1.4px solid gray;
  border-bottom: 1.4px solid gray; */
  cursor: pointer;
  min-width: 60px;
  text-align: center;
}
.multiselect div:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1.4px solid gray;
}
.multiselect div:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1.4px solid gray;
}
.multiselect div:nth-child(odd) {
  background: var(--transparent--10);
}

.multiselect div.active {
  background: var(--toolbar-iconcolor);
  color: var(--main-color--second);
}
.multiselect div:hover:not(.active) {
  background: var(--toolbar-iconcolor);
  opacity: 0.8;
  color: var(--main-color--second);
}



#settings, #modes {
  color: var(--main-color-inverted);
}



/* modes */
.modes_card {
  position: relative;
  border-radius: 10px;
  border: 2px solid var(--toolbar-iconcolor);
  width: calc(100% - 4px);
  /* height: 40%; */
  height: 140px;
  margin-bottom: 10px;
  cursor: pointer;
}
.modes_card:hover {
  opacity: 0.9;
}
.modes_card span {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: bold;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 20px;
}
.modes_card img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}



/*** context menu ***/
.menu {
  width: 140px;
  background: var(--main-color);
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;
  z-index: 9999920;
}

.menu .menu-options {
  list-style: none;
  padding: 10px 0;
}

.menu .menu-option {
  /* font-weight: 500; */
  font-size: 14px;
  padding: 10px 40px 10px 20px;
  cursor: pointer;
}

.menu .menu-option:hover:not([disabled]) {
  background: var(--transparent--20);
}

.menu .menu-option[disabled] {
  color: var(--transparent--50);
  cursor: default;
}
